<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407369772776-klnkbs1q2vgqv3hm7vu5oj65sh0aklvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407369772776-klnkbs1q2vgqv3hm7vu5oj65sh0aklvo</string>
	<key>API_KEY</key>
	<string>AIzaSyCAKniU2N_TmqpkZYegOkJHIBuRz6ZejQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>407369772776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.my-demo</string>
	<key>PROJECT_ID</key>
	<string>mydemo-f8e38</string>
	<key>STORAGE_BUCKET</key>
	<string>mydemo-f8e38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407369772776:ios:c70d3b6609ea9d92e3635d</string>
</dict>
</plist>